
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  
}

.banners {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../Images/webcam.jpeg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  text-align: center;
  color: #fff;
  padding: 20px;
}

  .content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

.content p {
  font-size: 18px;
  margin: 20px 0;
  font-weight: 300;
  line-height: 25px;
}

.buttons {
  margin-top: 30px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #2C2E8C;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button span {
  background: #2C2E8C;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}
