/* NavBar.css */
.navBar {
    position: absolute; /* or fixed */
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    background: transparent; /* no background so banner is visible */
    display: flex;
    justify-content: center;
    z-index: 10; /* make sure it stays on top */
}

.navBar > div {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navBar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

.navBar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navBar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #2C2E8C;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navBar ul li:hover::after {
    width: 100%;
}
