
.product-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.product-card {
  width: 250px;
  padding: 16px;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-image {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #2e8b57;
}


