.body{
        background-image: url('D:\Sachin Mama Project\ping\src\Components\Images\cctv-camera-backgraound.jpg'); 
        background-size: cover; /* Adjust the size of the background image to cover the entire element */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        height: 100vh;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .left-box {
        width: 1100px;
        padding: 40px; /* Increased padding for a better appearance */
        background-color: rgba(240, 240, 240, 0.8); /* Use rgba for transparency */
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 10px; /* Add border-radius for rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    }
    
    .left-box h2 {
        font-size: 2.5em; /* Increase the font size of the header */
    }
    
    .left-box p {
        font-size: 1.2em; /* Increase the font size of the paragraph */
    }

    .right-box{
        flex: 1; /* Allow the content to take up the remaining space */
        background-image: url('D:\Sachin Mama Project\ping\src\Components\Images\discount_image.png'); 
        background-size: cover; /* Adjust the size of the background image to cover the entire element */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        height: 100vh;
        padding: 20px; 
    
    }