/* This is test */


main {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3), -3px -5px 5px rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    overflow: hidden;
}

main div {
    flex: 1;
    height: 40%;
    border: 2px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    Transition: all ease-in 1s;
}


main div:nth-child(1) {
    transform: translateX(-150%);
    opacity: 0;
}

main div:nth-child(2) {
    transform: translateY(150%);
    opacity: 0;
}
main div:nth-child(3) {
    transform: translateX(10%);
    opacity: 0;
}

.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}